.chat-container{
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    height: 50%;
    width: 19%;
    border-radius: 2.5%;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.chat-container-header{
    height: 10%;
    margin: 0px;
    color: rgb(79,79,79);
    border-bottom: 1px solid rgb(245,245,245);
}
.chat-container-body{
    height: 350px;
    overflow-y: scroll;
}
.chat-container-header-title{
    text-align: left;
    margin: 0px;
    padding: 10px;
}