.chat-container-input{
    margin: 7%;
    position: absolute;
    bottom: 0px;
    width: 85%;
}
#sendInput{
   border: none;
   border: none;
   height: 2em;
   width: 85%;
}
#sendBtn{
    color: rgb(79,79,79);
    margin-left: 2%;
}
#sendBtn:hover{
    color: rgb(59,113,202);
    transition: 0.5s;
}