.message-container{
    box-sizing: border-box;
    width: 55%;
    color: antiquewhite;
    border-radius: 10px;
    height: 2.5em;
}
.sender{
    background-color: rgba(59,113,202);
    margin-left: auto;
}
.receiver{
    background-color: rgb(245,246,247);
    color: rgb(82,82,82);
}
.text-message{
    text-align: left;
    padding: 10px;
}
