.forum-navigation{
    background-color: rgb(255,255,255);
    font-family: 'Lato', sans-serif;
    height: 59px;
  }
  .forum-navigation-items{
      display: flex;
      justify-content: left;
      margin: 0%;
  }
  .forum-navigation-item{
      list-style: none;
      padding: 20px;
  }
  .right{
    margin-left: auto;
  }
  .forum-navigation-item a{
      margin-left: 0px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      color: rgb(79,79,79);
  }
  .forum-navigation-item a i{
     margin: 0px 10px 0px 10px;
     font-size: 19px;
  }
  /* hovers */
  .forum-navigation-item a:hover {
     color: rgba(59,113,202);
     text-shadow: 0 0 30px #FFFFFF;
  }
  